
<section class="sc-1 wrap-centent mt-1">
<div class="container section1">
<div class="row ">
<div class="col-sm-12 col-md-6">
<%= image_tag("img2.jpg", :alt => "", :class => "img-fluid") %>
</div>
<div class="col-sm-12 col-md-6 p-2">
<h1 class=" text-white">Contest Application</h1>
<p class=" lead text-white pt-5"> Thank you for your participation</p>
<div class="d-flex justify-content-end">
<%= link_to 'BIKERS', bikers_index_path, class:'btn btn-danger text-white btn-block btn-lg'%>
</div>
</div>
</div>

</section>


