<section class="p-5">
<div class="container">
<h1>Thank you for the participation</h1>
<p>Check the participating Bikers.</p>
<%= link_to 'BIKERS', bikers_index_path, class:'btn btn-danger text-white btn-block btn-lg'%>
</div>
</section>
